 body
{

    background-color: EAF6F6;

}
hr
{
border: dotted;
width:40px;
}
img
{
width:40%;
border-radius:50%
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 4px 3px 0px #380438;
  -webkit-box-shadow: 7px 6px 11px #0a0a0a;
  -moz-box-shadow: 7px 6px 11px #0a0a0a;
  box-shadow: 7px 6px 11px #0a0a0a;
  font-family: Arial;
  color: #f5ebf5;
  font-size: 17px;
  padding: 10px;
  background: #13364d;
  text-decoration: none;
}

.btn:hover {
  background: #3f5f73;
  text-decoration: none;

}

